/* Resetting default values :: this is done on elements due to resetting! */
html, body, td, h1, h2, h3, h4, h5, h6 {
    background-color: #0f0f0f;
    font-family: 'verdana', sans-serif;
    color: rgb(224, 220, 220);
    margin: 0;
    padding: 0;
}

body {
    margin-left: 5px;
}

a {
    color: #b89d9d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Starting the real (class based) CSS/ styling */

.normal-text {
    max-width: 650px;
}

.footer {
    margin: 50px 0;
}

.myTable {
    width: 80%;
}
.primaryCell {
    width: 50%;
    vertical-align: top;
    padding-bottom: 30px;
}

.myRow {
    margin-top: 35px;
}

.not-allowed {
    cursor: not-allowed;
}

.not-allowed:hover {
    text-decoration: none;
}

.hint {
    font-style: italic;
}

.bg_red {
    background-color: red;
}


/* Extra classes tbv opdracht 1 pagina 4 */
.bg-green {
    background-color: green;
}

.color-yellow {
    color: yellow;
}